* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
overflow-x: hidden;
background-color: black;
background: black;
color: white;
}